<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with <a href="https://ghost.org/" target="_blank">Ghost.</a>
    <br>
    <br>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Footer -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-7445638370146721"
        data-ad-slot="5770504895"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</footer>
