<footer>
  <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with <a href="https://ghost.org/" target="_blank">Ghost.</a>
    <br>
    <br>
    <a href="https://aws.amazon.com">
    	<img width="150" src="{{asset "img/aws.png"}}">
	</a>
  </span>
</footer>
