<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">Blog</a>
      <a href="https://github.com/kutyel/iMinistry" class="link-item" title="iMinistry Project" id="tags-button">iMinistry</a>
      <a href="mailto:flaviocorpa@gmail.com?subject=Hello, I saw your web!" class="link-item" title="" id="contact-button">Contact</a>
    </li>
  </ul>
</nav>
