<nav class="navigation right">
  <ul class="social expanded">

  <!-- Twitter -->
  <li class="social item hvr-grow-rotate">
    <a target="blank" href="http://twitter.com/flaviocorpa" title="@FlavioCorpa on Twitter">
      <i class='icon icon-social-twitter'></i>
      <span class="label">Twitter</span>
    </a>
  </li>

  <!-- Linkedin -->
  <li class="social item hvr-grow-rotate">
    <a target="blank" href="http://linkedin.com/in/flaviocorpa" title="Flavio Corpa on LinkedIn">
      <i class='icon icon-social-linkedin'></i>
      <span class="label">LinkedIn</span>
    </a>
  </li>

  <!-- Github -->
  <li class="social item hvr-grow-rotate">
    <a target="blank" href="https://github.com/kutyel" title="kutyel on Github">
      <i class='icon icon-social-github'></i>
      <span class="label">Github</span>
    </a>
  </li>

  <!-- StackOverflow -->
  <li class="social item hvr-grow-rotate">
    <a target="black" href="http://stackoverflow.com/users/2834553/kutyel" title="Kutyel on StackOverflow">
      <i class='icon icon-social-stack-overflow'></i>
      <span class="label">StackOverflow</span>
    </a>
  </li>
  
  <!-- Google Plus -->
  <li class="social item hvr-grow-rotate">
    <a target="blank" href="https://plus.google.com/+FlavioCorpaRíos" title="Flavio Corpa on Google Plus">
      <i class='icon icon-social-google-plus'></i>
      <span class="label">Google+</span>
    </a>
  </li>
  
  <!-- RSS -->
  <li class="social item hvr-grow-rotate">
    <a href="/rss/" title="Subscribe to RSS">
      <i class='icon icon-rss'></i>
      <span class="label">RSS</span>
    </a>
  </li>
  
  </ul>
</nav>
